<% comments.each do |q_comment| %>
  <div class="post-view-box">
    <ul class="post-box">
      <li>
        <%= image_tag q_comment.user.user_icon.url, class: "user-icon" %>
        <p class="post-detail">
        <span><%= q_comment.user.name %></span>が
        <%= q_comment.created_at.strftime("%Y年 %m月%d日 %H時%M分") %>に回答しました。</p>
      </li>
      <li class="post-comment-content">
        <p class="post-content-box">
          <%= safe_join(q_comment.q_content.split("\n"), tag(:br)) %>
        </p>
      </li>
    </ul>
  </div>
<% end %>
