<% provide(:title, "質問する") %>
<%= render "shared/error", obj: @question %>
<div class="container-fruid post post-new">
  <div class="row">
    <%= render "shared/post_navbar" %>
    <div class="col-lg-10 post-view">
      <%= render "shared/post_options" %>
      <div class="post-view-box">
        <div class="update-content">
          <div class="row">
            <h5>新しく質問を作成する</h5>
          </div>
        </div>
        <%= render "form", question: @question %>
      </div>
    </div>
  </div>
</div>
