<% provide(:title, "投稿一覧") %>
<div class="container-fruid post">
  <div class="row">
    <%= render "shared/post_navbar" %>
    <div class="col-lg-10 post-view">
      <%= render "shared/posts_index", posts: @posts %>
    </div>
  </div>
</div>
