<% provide(:title, "投稿する") %>
<%= render "shared/error", obj: @post %>
<div class="container-fruid post post-new">
  <div class="row">
    <%= render "shared/post_navbar" %>
    <div class="col-lg-10 post-view">
      <%= render "shared/post_options" %>
      <div class="post-view-box">
        <div class="update-content">
          <div class="row">
            <h5>新しく投稿を作成する</h5>
          </div>
        </div>
        <%= render "form", post: @post %>
      </div>
    </div>
  </div>
</div>
